<% include partials/header %>

  <!-- form  -->
<div class="container w-75 mb-5">


    <!-- FORM -->
    <fieldset>
      <legend>Create a Category</legend>
      <form method="POST" action="/categories">
        <div class="form-group">
          <input name='categoryName' type="text" class="form-control" 
          placeholder='categoryName'>
        </div>
        <button type="submit" class="btn btn-primary">Submit Category</button>
      </form>
    </fieldset>

  
  
  
  </div> 
  <!-- end of form  -->